* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: rgb(255, 250, 206);
  background: radial-gradient(
    circle,
    rgba(255, 250, 206, 1) 8%,
    rgba(255, 124, 82, 0.9959383411567753) 100%
  );

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  --template-columns: 3;

  --tile-background: #705741;
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 32px;
  --spacing-xl: 64px;

  --gray-100: #f7f7f7; /* Very light gray, almost white */
  --gray-200: #e9e9e9; /* Light gray */
  --gray-300: #d2d2d2; /* Neutral gray */
  --gray-400: #a0a0a0; /* Mid-tone gray */
  --gray-500: #707070; /* Darker gray */
  --gray-600: #4a4a4a; /* Very dark gray */
  --black: #000000; /* True black */

  --improved-pink-1: #d1a5a4;
  --improved-pink-2: #db9f9e;
  --improved-pink-3: #d58887;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
html,
body {
  height: 90%;
  width: 100%;
}
#app {
  width: 100%;
  height: 100%;
}
.grid {
  display: grid;
  gap: var(--spacing-md);

  grid-template-columns: repeat(4, 60px);
  justify-content: space-around;

  padding: var(--spacing-xs);
  margin-top: var(--spacing-md);
}

.tile-container {
  width: 60px;
  height: 90px;

  perspective: 1000px;
}

.tile {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d; /* Keeps the 3D positioning of child elements */
  transition: transform 0.5s;
  transform-origin: center;
}
.tile-back::before {
  content: "";
  position: absolute;
  top: -10%;
  left: -10%;
  width: 120%;
  height: 120%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.05) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  pointer-events: none;
}

.tile-front,
.tile-back {
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.tile-back {
  background-image: url("/wood-pattern.png");
  background-color: var(--tile-background);
  transform: rotateY(0deg);
}

.tile-side {
  position: absolute;
  background: #888; /* Or any shade representing the tile's side */
  backface-visibility: hidden;
}

.tile-side.left {
  width: 3px; /* or a few pixels to make it thicker */
  height: 100%;
  left: 0;
  transform: rotateY(-90deg);
}

.tile-side.right {
  width: 3px;
  height: 100%;
  right: 0;
  transform: rotateY(90deg);
}

.tile-front {
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.tile-front,
.tile-back,
.tile-side {
  border-radius: 10px;
}

/* Flip to show the front side on hover or focus */

.tile-container[data-flipped="true"] .tile {
  transform: rotateY(-180deg);
}
.tile-container[data-matched="true"] {
  animation: fadeOut 1.5s forwards;
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/*Temp class for Front face*/

.p-value {
  color: var(--black);
  font-size: larger;
  font-weight: bold;
  text-align: center;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
